<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página de login para acessar o sistema.">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <!-- Cabeçalho -->
        <div class="row justify-content-center pt-5">
            <div class="col-6 text-center">
                <h1 class="mb-4">Login</h1>
            </div>
        </div>

        <!-- Mensagens -->
        <div class="row justify-content-center">
            <div class="col-6">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <!-- Formulário de Login -->
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form name="loginform" id="loginform" action="{% url 'user_login' %}" method="post" class="border p-4 rounded bg-light shadow-sm">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="username" class="form-label">Nome de Usuário:</label>
                        <input type="text" name="username" id="username" class="form-control" required aria-label="Nome de Usuário">
                    </div>
                    
                    <div class="mb-3">
                        <label for="password" class="form-label">Senha:</label>
                        <input type="password" name="password" id="password" class="form-control" required aria-label="Senha">
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-success">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Script do Bootstrap para interação com componentes como alerts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl9f+3je4I9hNXg7IO4rb79//Yp3y6nrGOSaO6q5KU1Jl7x9AU7wQWOQG2z" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhG81rKdyJ7B8GoVR6hgAMGkflD3EZluP0I5jRiivPHoVYcM0wwF8be9HBI" crossorigin="anonymous"></script>
</body>
</html>
