<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Cadastro de Plano de Salário</title>
    
</head>
<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>CRUD de Plano de Salário</h1>
    </div>
    
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="/index_salario" class="btn btn-success">Voltar</a>
    </div>
    
    <div class="col-8 m-auto pt-2 pb-2">
      <form name="form" id="form" action="{% if db %}{% url 'update_salario' db.id %}{% else %}{% url 'create_salario_funcionario' %}{% endif %}" method="post">
        {% csrf_token %}
        
        <div class="form-group mb-3">
            <label for="id_funcionario">Funcionário:</label>
            {{ form.funcionario }}
            {{ form.funcionario.errors }}
        </div>
        <div class="form-group mb-3">
            <label for="id_mesAno">Mês e Ano:</label>
            {{ form.mesAno }}
            {{ form.mesAno.errors }}
        </div>
        <div class="form-group mb-3">
            <label for="id_dias_trabalhados">Dias Trabalhados:</label>
            {{ form.dias_trabalhados }}
            {{ form.dias_trabalhados.errors }}
        </div>
        <div class="form-group mb-3">
            <label for="id_arred">Arredondamento:</label>
            {{ form.arred }}
            {{ form.arred.errors }}
        </div>
        <div class="form-group mb-3">
            <label for="id_ferias">Férias:</label>
            {{ form.ferias }}
            {{ form.ferias.errors }}
        </div>
        <div class="form-group mb-3">
            <label for="id_decimo_terceiro_ferias">13º Férias:</label>
            {{ form.decimo_terceiro_ferias }}
            {{ form.decimo_terceiro_ferias.errors }}
        </div>
        <div class="form-group mb-3">
            <label for="id_periculosidade">Periculosidade:</label>
            {{ form.periculosidade }}
            {{ form.periculosidade.errors }}
        </div>
        <div class="form-group mb-3">
            <label for="id_salario_familia">Salário Família:</label>
            {{ form.salario_familia }}
            {{ form.salario_familia.errors }}
        </div>
        <div class="form-group mb-3">
            <label for="id_outras_entradas">Outras Entradas:</label>
            {{ form.outras_entradas }}
            {{ form.outras_entradas.errors }}
        </div>
        <div class="form-group mb-3">
            <label for="id_ir_ferias">IR Férias:</label>
            {{ form.ir_ferias }}
            {{ form.ir_ferias.errors }}
        </div>
        <div class="form-group mb-3">
            <label for="id_vales_e_faltas">Vales e Faltas:</label>
            {{ form.vales_e_faltas }}
            {{ form.vales_e_faltas.errors }}
        </div>
        <div class="form-group mb-3">
            <label for="id_vt">Vale Transporte:</label>
            {{ form.vt }}
            {{ form.vt.errors }}
        </div>
        <div class="form-group mb-3">
            <label for="id_troco">Troco:</label>
            {{ form.troco }}
            {{ form.troco.errors }}
        </div>
        <div class="form-group mb-3">
            <label for="id_geral">Geral:</label>
            {{ form.geral }}
            {{ form.geral.errors }}
        </div>

        <input type="submit" class="btn btn-success" value="Salvar">
      </form>
    </div>
</body>
</html>
