<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9f9;
        }
        h1 {
            color: #343a40;
            font-family: 'Arial', sans-serif;
            margin-bottom: 30px;
        }
        .table {
            background-color: #ffffff;
            border-radius: 0.5rem;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .table-dark {
            background-color: #343a40;
        }
        .btn {
            transition: background-color 0.3s ease;
        }
        .btn:hover {
            opacity: 0.85;
        }
        .btn-dark {
            background-color: #6c757d;
        }
        .btn-primary {
            background-color: #007bff;
        }
        .btn-danger {
            background-color: #dc3545;
        }
        .text-center {
            margin-bottom: 20px;
        }
        th, td {
            white-space: nowrap;
        }
        #botoes-iniciais {
            display: flex;
            gap: 20px;
        }
    </style>
    <title>CRUD de Planos de Funcionários</title>
</head>
<body>
    <header class="bg-primary text-white text-center py-3">
        <h2>Sistema de Gestão dos Salários dos Funcionários</h2>
    </header>

    <div class="col-12 col-md-8 m-auto text-center">
        <form method="GET" action="{% url 'index_salario' %}">
            <div class="row">
                <div class="col">
                    <input type="month" class="form-control" name="mesAno" placeholder="Mês/Ano">
                </div>
                <div class="col">
                    <select id="status" name="status" class="form-control">
                        <option value="">Selecione um status</option>
                        <option value="Ativo">Ativo</option>
                        <option value="Inativo">Inativo</option>
                    </select>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="nome" placeholder="Nome do Funcionário">
                </div>
                <div class="col">
                    <div id="botoes-iniciais">
                        <button type="submit" class="btn btn-primary mb-4">Filtrar</button>
                        <a href="/form_salario" class="btn btn-success mb-4">Adicionar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-12 col-md-10 m-auto">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Mês e Ano</th>
                        <th scope="col">Funcionário</th>
                        <th scope="col">Pagamento</th>
                        <th scope="col">Registro</th>
                        <th scope="col">Função</th>
                        <th scope="col">Salário</th>
                        <th scope="col">Dias Trabalhados</th>
                        <th scope="col">Arredondamento</th>
                        <th scope="col">Férias</th>
                        <th scope="col">13º sobre Férias</th>
                        <th scope="col">Periculosidade</th>
                        <th scope="col">Salário Família</th>
                        <th scope="col">Outras Entradas</th>
                        <th scope="col">IR sobre Férias</th>
                        <th scope="col">Vales e Faltas</th>
                        <th scope="col">VT</th>
                        <th scope="col">Troco</th>
                        <th scope="col">Salário Geral</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                  {% for planfuncionario in db %}
                    <tr>
                        <th scope="row">{{ planfuncionario.id }}</th>
                        <td>{{ planfuncionario.mesAno }}</td>
                        <td>{{ planfuncionario.funcionario.nome }}</td>
                        <td>{{ planfuncionario.funcionario.conta_inter }}</td>
                        <td>{{ planfuncionario.funcionario.registro }}</td>
                        <td>{{ planfuncionario.funcionario.funcao }}</td>
                        <td>R${{ planfuncionario.funcionario.salario }}</td>
                        <td>{{ planfuncionario.dias_trabalhados }}</td>
                        <td>R${{ planfuncionario.arred }}</td>
                        <td>R${{ planfuncionario.ferias }}</td>
                        <td>R${{ planfuncionario.decimo_terceiro_ferias }}</td>
                        <td>R${{ planfuncionario.periculosidade }}</td>
                        <td>R${{ planfuncionario.salario_familia }}</td>
                        <td>R${{ planfuncionario.outras_entradas }}</td>
                        <td>R${{ planfuncionario.ir_ferias }}</td>
                        <td>R${{ planfuncionario.vales_e_faltas }}</td>
                        <td>
                            {% if planfuncionario.vt == 1 %}
                                Não possui
                            {% else %}
                                Possui
                            {% endif %}
                        </td>
                        
                        <td>R${{ planfuncionario.troco }}</td>
                        <td>R${{ planfuncionario.geral }}</td>
                        <td>
                            <a href="{% url 'edit_salario' planfuncionario.id %}" class="btn btn-primary btn-sm">Editar</a>
                            <a href="{% url 'delete_salario' planfuncionario.id %}" class="btn btn-danger btn-sm">Deletar</a>
                        </td>
                    </tr>
                  {% empty %}
                    <tr>
                        <td colspan="19" class="text-center">Nenhum plano de funcionário encontrado.</td>
                        <td colspan="19" class="text-center">Atualize a página ou entre em contato com o Dev. <strong>arthurreisgonc@gmail.com</strong></td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-8O0c3P1wq3ZZ+znt3H3ExDgOasHjGTR9I8H3zxk8s0hcIwFCRXGRmbGNCgRnlRk6" crossorigin="anonymous"></script>
</body>
</html>
