<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados dos Funcionários</title>
    <!-- Incluindo o CSS do Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            margin: 20px;
        }
        .group-header {
            background-color: #f1f1f1;
            font-weight: bold;
        }
        .table-responsive {
            overflow-x: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-4 mb-4">Dados dos Funcionários</h1>
        <div class="col-12 col-md-8 m-auto align-center">
            <form method="GET" action="{% url 'manipulate_funcionarios' %}">
                <div class="row">
                    <div class="col">
                        <input type="month" class="form-control" name="mesAno" placeholder="Mês/Ano">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="nome" placeholder="Nome do Funcionário">
                    </div>
                    <div class="col">
                        <div id="botoes-iniciais">
                            <button type="submit" class="btn btn-primary mb-4">Filtrar</button>
                            <a href="/form_salario" class="btn btn-success mb-4">Adicionar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-light">
                    <tr class="group-header">
                        <th colspan="4">Informações Gerais</th>
                        <th colspan="8">Benefícios e Adicionais</th>
                        <th colspan="5">Descontos</th>
                        <th colspan="3">Liquidação</th>
                    </tr>
                    <tr>
                        <!-- Informações Gerais -->
                        <th>Mes/Ano</th>
                        <th>Nome Funcionario</th>
                        <th>Dias Trabalhados</th>
                        <th>Salario Mês</th>

                        <!-- Benefícios e Adicionais -->
                        <th>Arredondamento</th>
                        <th>Férias</th>
                        <th>13º Salário (Férias)</th>
                        <th>Periculosidade</th>
                        <th>Salario Família</th>
                        <th>Outras Entradas</th>
                        <th>Ajuda de Custo</th>

                        <!-- Descontos -->
                        <th>INSS</th>
                        <th>FGTS</th>
                        <th>ir_ferias</th>
                        <th>Vales e Faltas</th>
                        <th>VT</th>
                        <th>Plano de Saúde</th>

                        <!-- Liquidação -->
                        <th>Adiantamento</th>
                        <th>Total de Descontos</th>
                        <th>Líquido a Pagar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for funcionario in funcionarios %}
                    <tr>
                        <!-- Informações Gerais -->
                        <td>{{ funcionario.mesAno }}</td>
                        <td>{{ funcionario.nome }}</td>
                        <td>{{ funcionario.dias_trabalhados }}/{{ funcionario.qtde_dias_Mes }}</td>
                        <td>{{ funcionario.salario_Mes }}</td>

                        <!-- Benefícios e Adicionais -->
                        <td>{{ funcionario.arred }}</td>
                        <td>{{ funcionario.ferias }}</td>
                        <td>{{ funcionario.decimo_terceiro_ferias }}</td>
                        <td>{{ funcionario.periculosidade }}</td>
                        <td>{{ funcionario.salario_familia }}</td>
                        <td>{{ funcionario.outras_entradas }}</td>
                        <td>Aj</td>

                        <!-- Descontos -->
                        <td>{{ funcionario.INSS }}</td>
                        <td>{{ funcionario.FGTS }}</td>
                        <td>{{ funcionario.ir_ferias }}</td>
                        <td>{{ funcionario.vales_e_faltas }}</td>
                        <td>{{ funcionario.VT }}</td>
                        <td>{{ funcionario.PlanoDeSaude }}</td>

                        <!-- Liquidação -->
                        <td>{{ funcionario.adiantamento }}</td>
                        <td>{{ funcionario.TotalDescontos }}</td>
                        <td>{{ funcionario.liquidoPagar }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Incluindo o JS do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
